.searchInputs {
    margin-top: 105px;
    display: flex;
    justify-content: center;

}

.search input{
    background-color: white;
    border-color: black;
    border-radius: 2px;
    font-size: 18px;
    padding: 15px;
    width:30%;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: center;

}

.dataResults{

 line-height: 30px;
}

.paginationBttns{
    width:80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}
        /* previousLinkClassName={"previousBttn"}
        nextLinkClassName={"previousBttn"}
        disabledClassName={"disabledBttn"}
        activeClassName={"paginationActive"} */
        .paginationBttns a{
            padding: 10px;
            margin: 8px;
            border-radius: 5px;
            border: 1px solid gray;
            color: gray;
            cursor: pointer;
        }

        .paginationBttns a:hover{
            color: white;
            background-color: indianred;
        }

        .paginationActive a{
            color: white;
            background-color: indianred;
        }