
  
  


.modal {
  padding: 10px;
}

.button{
  display: block;
  margin: auto;

}

.overlay {
  background: rgba(0,0,0,0.5);
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper{
  height: 500px;
  width: 700px;
  background: rgb(214,105,127);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper p{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color:blanchedalmond;
  line-height: 2em;
}

.close{
  position: absolute;
  right: 15px;
  top: 15px;
}