
.paginationBttns{
    width:80%;
    height: 40px;
    margin: auto;
    margin-top: 60px;
    list-style: none;
    display: flex;
    justify-content: center;
}
        /* previousLinkClassName={"previousBttn"}
        nextLinkClassName={"previousBttn"}
        disabledClassName={"disabledBttn"}
        activeClassName={"paginationActive"} */
        .paginationBttns a{
            padding: 10px;
            margin: 8px;
            border-radius: 5px;
            border: 1px solid gray;
            color: gray;
            cursor: pointer;
        }

        .paginationBttns a:hover{
            color: white;
            background-color: indianred;
        }

        .paginationActive a{
            color: white;
            background-color: indianred;
        }